body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color:brown;
}

.containerForMainImage {
    background-image: URL("/images/Beer-Background-Main.jpg");
    background-size:     cover;                       
    background-repeat:   repeat-x;
    background-position: center ;  
    padding-top: 0.1em;  
}

.card {
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 20px rgb(200,200,200);
    height: 85vh;
    width: 480px;
    max-width: 90%;
    border-radius: 10px;
    position: relative;
    background-color: darkgray;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.beer-image {
    width: auto;
    max-height: 20%;
    margin: 0 auto;
}

.info-image {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 40px;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
    width: 90%;
    text-align: center;
}

.info-panel {
    position: absolute;
    top: 0;
    background-color: rgba(50,50, 70,0.95);
    z-index: 5;
    width: 100%;
    right: 0;
    height: 75%;
    overflow: hidden;
    text-align: center;
    color: white;
    border-radius: 10px 10px 0 0;
    font-family: 'Alegreya Sans SC', sans-serif;
}

#page-down-arrow {
    max-height: 50px;
    
}
#page-down-arrow:active {
    border: none;
}

#user-matches-container {
    min-height: 100vh;
    max-width: 90%;
    margin: 0 auto;
    font-family: 'Alegreya Sans SC', sans-serif;
    /* background-color: gray; */
    /* text-align: center; */
}

#user-matches {
    width: 90%;
    margin: 0 auto;
}


/* ACCORDION */
 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid gray;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active-panel, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    background-color: rgb(230,230,255);
} 






/* one style classes */
.center {
    text-align: center;
}

.red-border {
    border: 1px solid red;
}

.float-right {
    float: right;
}

.hidden {
    display: none;
}

.max-width {
    max-width: 960px;
}

/* .container {
    width: 100vh;
    height: 100vh;
    text-align: center;
}

.card {
    align-self: center;
} */


@media screen and (max-width: 749px) {

    .containerForMainImage{
        background-image: url("/images/750x1334-iphone-6-beer-background.jpg");
        background-size:     cover;                       
        background-repeat:   repeat-x;
        background-position: center ;  
        padding-top: 0.1em; 
    }
    body {
        background-color: brown;
    }
    
}


/* For width 400px and larger: */
@media only screen and (min-width: 750px) {
    .containerForMainImage { 
       background-image: url("/images/Beer-Background-Main.jpg"); 
    }
    body {
        background-color: lightgreen;
    }
}